:root {
    --primaryColor: #0d6efd;
    --secondaryColor: #343a40;
}

:root  {
    --primaryFontFamily: 'Arial', sans-serif;
}

:root {
    --containerWidth: clamp(200px, 80%, 1200px);
}

:root {
    --primaryFontWeight: 600;
    --secondaryFontWeight: 400;
    --thirdFontWeight: 800;
}

:root {
    --primaryFontSize: 17px;
    --secondaryFontSize: 40px;
    --thirdFontSize: 23px;
}

@media (max-width: 1024px) {
    :root  {
        --primaryFontSize: 16px;
        --secondaryFontSize: 34px;
        --thirdFontSize: 21px;
    }
}

@media (max-width: 768px) {
    :root  {
        --primaryFontSize: 15px;
        --secondaryFontSize: 28px;
        --thirdFontSize: 19px;
    }
}

@media (max-width: 480px) {
    :root  {
        --primaryFontSize: 14px;
        --secondaryFontSize: 28px;
        --thirdFontSize: 19px;
    }
}
